@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');


:root{
  --col-bg:#dfdfcf;
  --col-bg-fore: #c19434;
  --col-bg-mid: #34421e;
  --col-bg-light: #438b5e;
  --col-bg-fore-mid: #1e1f1f;
  --sans:'Work Sans','Roboto',helvetica,arial,sans-serif;
}

body{
  background-color: var(--col-bg);
  font:var(--sans);

}
header{
  list-style-type: none;
}

h1, h2, h3, h4{
  font-family: var(--sans);
  font-weight: 700;
  line-height: 1;
  margin: 1em 0;
}

h1 { font-size: 2em; color: var(--col-bg-mid);}
h2 { font-size: 1.6em; color: var(--col-bg-mid);}
h3 { font-size: 1.4em; color: var(--col-bg-mid);}
h4 { font-size: 1.25em; color: var(--col-bg-mid);}

P{
  margin: 1em 0;
}

img{
  max-width: 60%;
  position: relative;
}

strong{
  background-color: var (--col-bg-mid);
  padding: 0 0.25em;
}

a{
  color: var(--col-bg-light);
  text-decoration: none;
}

footer{
  background-color: var(--col-bg-mid);
  
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2.4fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "menu menu menu"
    "sidebar copy copy"
    "legal legal legal";
}
.menu { grid-area: menu; }
.sidebar { grid-area: sidebar; }
.legal { grid-area: legal; }
.copy { grid-area: copy; }


.subhead{
  display: inline;
  max-width: 960px;
  margin: 0 auto;
}

.logo{
  max-width:120px;
  position: center;
}  

.menu ul{
  display: none;
  font-weight: 600;
  font-size: 1.10em;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  
  
}

.ingredients{
  list-style: none;
}

.nutrition{
  list-style: none;
}

.equipments{
  list-style: none;
}

.instructions{
  list-style: none;
}
 

.social{
  list-style-type: none;
}